$primary-color: #052962;
$secondary-color: #FFFFFF;
$third-color: whitesmoke;
$fourth-color: #00417B;
$fifth-color: #B2C9D9;

.search-section {
  display: flex;
  justify-content: space-evenly;
  min-width: 50%;
  margin: 20px;
  background-color: $third-color;

  form {
    width: 100%;
  }
}

.search-div {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0px 0px 0px;

  input {
    margin: 5px 10px 5px 10px;
  }

  button {
    margin: 5px 10px 5px 10px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    color: $secondary-color;
    background-color: $primary-color;
  }

  button:hover {
    background-color: $fourth-color;
  }
}

.per-page-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 0px 5px 0px;

  select {
    margin: 5px 10px 5px 10px;
  }
}